h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

span, p, a, input, button, textarea, div {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
}

.front-h1 {
	font-size:92px;
	font-weight: 700;
	font-family: 'Outfit', sans-serif;
}

.text-shadow {
	text-shadow: 2px 2px 1px #000000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes fadeinto {
	from { opacity: 0; }
	to { opacity: 1; }
}
.animate {
	animation: fadeinto 1.5s ease-in-out 1 both;
}

.animate_logo {
	animation: fadeinto 3.5s ease-in-out 1 both;
}

html {
	scrollbar-gutter: stable;
}



.flip-card {
	background-color: transparent;
	width: 352px;
	height: 352px;
	perspective: 1000px;
	font-family: sans-serif;
  }
  
  .title {
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 0;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid teal;
	border-radius: 1rem;
  }
  
  .flip-card-front {
	color: #134e4a;
  }
  
  .flip-card-back {
	background: linear-gradient(120deg, #134e4a 30%, #0f766e 88%,
	#2dd4bf 40%, #134e4a 78%);
	color: white;
	transform: rotateY(180deg);
  }

  .bg-pattern {
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-image: radial-gradient(
		70% 70% at 50% 30%,
		#fff,
		#d1d5db
	);
  }